* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body{
    background-color: #F7F8FC;
}

main{
    
    padding: 30px;
    width: 100%;
    height: 100vh;
    background-color: #F7F8FC;
    bottom: 100px;
}

h1{
    text-align: center;
}
button{
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

header {
    /* background-color: #34c1ec;
    box-shadow: 0 0 10px #727272; */
        height: 71px;
        box-shadow: 0px 0px 3px 2px #c5c5c5;
        width: 100%;
        display: flex;
        align-items: center;
        
        z-index: 9;
        background: white;
        position: fixed;
        
        top: 0px;
        border-bottom: 1px solid #80808070;
        justify-content: flex-start;
        gap: 30px;
        display: flex;
        flex-wrap: wrap;
        padding-left: 65px;
        margin-left: auto;
}

header img {
    vertical-align: middle;
    border-style: none;
}

footer {
    background-color:#fdfbfe;
    text-align: center;
    width: 100%;
    box-shadow: 0 0 10px #727272;
    /* Posicionamiento al fondo de la página */
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-between;
    padding-left: 65px;
    margin-left: auto;
}

#logo {
    width: 100vw;
}

.aheader {
    color: white;
    font-size: 16px;
    text-decoration: none;
    background-color: rgb(70, 58, 39);
    padding: 8px;
    margin: 5px;
    border-radius: 10px;
    display: inline-block;
}

.aheader:hover {
    outline: 2px solid rgb(246, 229, 204);
}

.aheader:visited {
    color: rgb(242, 196, 128);
}

.aheader:active {
    background-color: rgb(243, 240, 235);
    color: rgb(8, 8, 8);
}

footer a {
    text-decoration: none;
    padding: 10px;
}

footer nav {
    /*display: inline;*/
    width: 220px;
    margin: 0 auto;
}

nav{
    text-align: center;
}

/*-------------------------- Pagina index   --------------------*/
.tarjeta {
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px #c9c9c9;
    margin: 15px;
    background-color: #fff;
    height: auto;
    transition: all 0.5s ease;
}

.tarjeta img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.textocard {
    padding: 10px;
}

.tarjeta a {
    text-decoration: none !important;
    text-align: center;
    padding: 10px 16px;
    border-radius: 4px;
    width: auto;
    display: inline-block;
    margin: auto;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;

    transition: all 0.2s ease;
    border: 1px solid #212c4c;
    color: #212c4c;
}

.tarjeta a:hover {
    color: white;
    background-color: #212c4c;
}

.tarjeta:hover{
    box-shadow: 0 0 30px #212c4c;
    /* transform: scale(0.9); */
}

.contenedor p {
    padding: 10px 0px;
}

.contenedor {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


.logo {
    grid-area: logo;

    /*background-color: #000;*/
    color: white;
    height: 60px;
    text-align: center;
    padding-top: 20px;
}

.footer {

    height: 60px;
    grid-area: footer;
    background-color: #000;
    color: white;
}
